<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vcpkg-export-20191124-163119" version="1.0.0" targetFramework="native" />
  <package id="vcpkg-export-20191128-114138" version="1.0.0" targetFramework="native" />
  <package id="vcpkg-export-20191128-123029" version="1.0.0" targetFramework="native" />
</packages>